# Python
__pycache__/
*.pyc
*.pyo
*.py[cod]
instance/
*.env
*.db
*.sqlite3

# Virtual Environment
.venv/
.env/

# Logs
*.log

# IDE
.vscode/
.idea/

# Byte-compiled / optimized / DLL files
*.pyo
*.pyc
*.py,cover
.cover

# Static Analysis
.mypy_cache/
.pyre/
.pytype/

# System Files
.DS_Store

# Database
conversations.db
*.sqlite

